* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
.head {
  display: flex;
  align-items: center;
  background-color: rgb(250, 85, 85);
  padding: 1rem;
  justify-content: center;
  gap: 0.5rem;
  color: white;

  h3 {
    font-weight: 200;
  }
}
header > img {
  width: 3rem;
  border-radius: 50%;
}

.entry {
//   background-color: pink;
  display: flex;
  justify-content: center;
//   align-items: center;
  width: 100%;
  // height: 100%;
  padding: 2rem;
  padding-left: 4rem;
  padding-top: 3rem;

  .info {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    padding-top: 0rem;
    margin-top: 0;
    padding-left: 2rem;
    // height: 100%;
    // display: flex;
    .marker {
      width: 1rem;
      margin-right: 0.5rem;
    //   padding: 1rem;
      // border-radius: ;
    }
    .country{
      text-transform: uppercase;
      font-size: 1.8rem;
      margin-right: 0.5rem;
    //   font-family: cursive;
      font-weight: 200;
    }
    a{
        color: #2B283A;
    font-size: 0.7rem;
    }
    a:visited {
        color: #918E9B;
    }
    h2.entry-title {
        background-color: #ffffff;
        padding: 0.8rem;
        font-size: 2.5rem;
        padding-left: 0;
    }
    p.trip-dates {
        font-weight: 200;
        font-size: 1.5rem;
    }
    p.entry-text {
        line-height: 1.5;
        font-size: 1.4rem;
        width: 60%;
        padding-top: 2rem;
        display: -webkit-box;
        // -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
  }
}

.image-container {
  width: 13rem;
  height: 20rem;
  overflow: hidden;
  border-radius: 15px;
  flex-shrink: 0;
  // margin-right: 19px;
  // background-color: yellow;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
